@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
	--color-black: #263238;
	--color-d-grey: #4d4d4d;
	--color-grey: #717171;
	--color-l-grey: #89939e;
	--color-grey-blue: #abbed1;
	--color-silver: #f5f7fa;
	--color-white: #ffffff;
	--color-primary: #28cb8b;
	--color-secondary: #263238;
	--color-info: #2194f3;
	--color-shade-1: #43a046;
	--color-shade-2: #388e3b;
	--color-shade-3: #237d31;
	--color-shade-4: #1b5e1f;
	--color-shade-5: #103e13;
	--color-tint-1: #66bb69;
	--color-tint-2: #81c784;
	--color-tint-3: #a5d6a7;
	--color-tint-4: #c8e6c9;
	--color-tint-5: #e8f5e9;
	--color-warning: #fbc02d;
	--color-error: #e53835;
	--color-success: #2e7d31;

	--font-inter: "Inter", san-serif;
}

@layer theme {
	body {
		@apply font-inter;
	}
}
